@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    background-color: bisque;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


#color-change-area {
    background-color: aqua;
    width: auto;
    height: 500;
    margin-top: 10px;
    margin-bottom: 10px;

}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
}

h1 {
    text-align: center;
}